*.o
/debian/debhelper-build-stamp
/debian/.debhelper/
/debian/files
/debian/nanopi-boot-tools.debhelper.log
/debian/nanopi-boot-tools.substvars
/debian/nanopi-boot-tools/
/nano-blembed
/nano-ubootenv
